<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="jumbotron">

    <p><a href ="/GET/AUS"> GET AUS </a></p>
    <p><a href ="/GET/ENG"> GET ENG </a></p>
    <p><a href ="/GET/IND"> GET IND </a></p>
    <p><a href ="/GET/PAK"> GET PAK </a></p>
    <p><a href ="/GET/SL"> GET SL </a></p>
    <p><a href ="/GET/WI"> GET WI </a></p>
    <p><a href ="/GET/NZ"> GET NZ </a></p>
    <p><a href ="/GET/SA"> GET SA </a></p>
</div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
